* {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #252525;
}

body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#map-container {
    flex: 1;
    margin: 10px;
}
